@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

.lato-thin {
  font-family: var(--font-lato-regular), sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: var(--font-lato-regular), sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: var(--font-lato-regular), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: var(--font-lato-regular), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: var(--font-lato-regular), sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: var(--font-lato-italic), sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: var(--font-lato-italic), sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: var(--font-lato-italic), sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: var(--font-lato-italic), sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: var(--font-lato-italic), sans-serif;
  font-weight: 900;
  font-style: italic;
}
